{% extends "::base.html.twig" %}

{% block title %}MoneyMouth: Pool - Standings{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="/css/public.css" media="all" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block body %}

{% include "pool/partials/greeting.html.twig" %}

{% include "pool/partials/menu.html.twig" %}

<div class="container" id="groupPicks">
    {% if userPicks %}
    <div class="row">
        <div class="col-md-12">
            <table class="welcome1_table">
                <tr><td class="top-table-header" colspan="3"><span style="font-size: 18px">Group Picks</span></td></tr>
                <tr><td colspan="3">&nbsp</td></tr>
                {#<tr>#}
                    {#<td>#}
                        {#<span class="header-row">#}
                            {#<div><u>Username</u></div>#}
                        {#</span>#}
                    {#</td>#}
                    {#{% for question in questions %}#}
                    {#<td>#}
                        {#<span class="header-row">#}
                            {#<div title="{{ question.name }}"><u>{{ question.name | truncate(20, true) }}</u></div>#}
                        {#</span>#}
                    {#</td>#}
                    {#{% endfor %}#}
                {#</tr>#}

                {% for question, choices in userPicks %}
                    <tr>
                        <td>
                            {{ question }}
                        </td>
                        {% for choiceLabel, userCount in choices.choices %}
                            <td>
                                <span>{{ choiceLabel }} ({{ userCount }}) {{ userCount/choices.sum*100 }}%</span>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr><td colspan="3">&nbsp</td></tr>
            </table>
        </div>
    </div>
    {% else %}
        <div class="alert alert-info" role="alert">Nobody has joined yet.</div>
    {% endif %}
</div>
</br>
</br>
</br>

<div class="container">
    <div class="row">
        <div class="col-md-6">
        </div>
    </div>
</div>
{% endblock %}
